.about {
  display: flex; 
  flex-direction: column;
  background-color: #262628;
  
    
}

.about2 {
  /*margin-left: 23%;
  margin-right: 23%;*/
  display: flex;
  flex-direction: column;
  
  
}

.about h1 {
  align-self: center;
  margin-top: 6%;
  color: rgb(231, 232, 234);
  margin-left: 23%;
  margin-right: 23%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 40px;
  
  
}

.about img {
  height: 42%;
  width: 37%;
  align-self: center;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 23%;
  margin-right: 23%;
  border-radius: 10px;

}

.about p {
  align-self: center;
  text-align: justify;
  color: rgb(231, 232, 234);
  margin-left: 23%;
  margin-right: 23%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;

}