.home {
  width: 100%;
  display: flex;
  background-color: rgb(231, 232, 234);
  flex-direction: row;
  
  
  }

  .home2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .home2 h1 {
    margin-top: 18%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    font-weight: 10;
    font-size: 40px;
    color: #262628;
    
  }
  
  .home2 p {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-weight: 10;
    font-size: 30px;
    color: #262628;
    margin-top: -3%;
    
  }

  .home3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    
  }

  .home3 img {
    width: 60%;
    height: 70%;
    margin-top: 8%;

  }