.menu {
  display: flex; 
  flex-direction: column;
  background-color: rgb(231, 232, 234);
  width: 100%;
    
}

.menu2{
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid;
  border-color: #262628;
}

.menu3{
  
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid;
  border-color: #262628;
}

.menu3 img {
  width: 25%;
  height: auto;
  align-self: center;
  margin-top: 5%;
}

.menu4{
  
  display: flex;
  flex-direction: column;
  
}

.menu4 img {
  width: 25%;
  height: auto;
  align-self: center;
  margin-top: 5%;
}

.menu h1 {
  align-self: center;
  margin-left: 23%;
  margin-right: 23%;
  font-size: large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      color: #262628;
  
}

.menu h2 {
  align-self: center;
  margin-left: 23%;
  margin-right: 23%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  font-weight: 10;
  font-size: 40px;
  color: #262628;
  
}

.menu img {
  width: 25%;
  height: auto;
  align-self: center;
  
}

.menu p {
  align-self: center;
  text-align: justify;
  margin-left: 23%;
  margin-right: 23%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
      color: #262628;
  
}