.navbar {
    background-color: #ffffff;
    display: flex;
    
    
  }

  .navbar1 {
    margin-right: auto;
    margin-left: auto;
    
  }

  .navbar1 button{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    height: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 25px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 10;
    font-weight: bold;
    
  }

  .navbar2 {
    margin-left: auto;
    margin-right: auto;
    
  }

  .navbar2 button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    height: 40px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 17px;
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 10;
    font-weight: bold;

  }